{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-default-single has-sidebar{{ end }}

{{ define "ogmeta" }}
<meta property="og:title" content="{{ .Title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:description"
  content="{{ if .Params.meta_description }}{{ .Params.meta_description }}{{ else if .Params.description }}{{ .Params.description }}{{ else }}{{ .Site.Params.description }}{{ end }}" />
{{ $repoName := printf "%s" (substr (replace .Params.github "/" "-") 19 | urlize) }}
{{ $repo := index .Site.Data.themes $repoName }}
{{ if $repo }}
{{ $staticPath := (printf "%s/%s%s" "static/themes" $repo.theme_key ".png") }}
{{ $filePath := (printf "%s/%s%s" "themes" $repo.theme_key ".png") }}
{{ if (fileExists $staticPath) }}
<meta property="og:image" content="{{ $filePath | absURL }}">
{{ end }}
{{ end }}
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@heyStatichunt" />
<meta name="twitter:creator" content="@heyStatichunt" />
<link rel="preload" as="image" href="{{`images/loader.gif` | absURL}}">
{{end}}

{{ define "main" }}
{{ $repoName := printf "%s" (substr (replace .Params.github "/" "-") 19 | urlize) }}

{{ $repo := index .Site.Data.themes $repoName }}
{{ $statichunt := index .Site.Data.themes $repoName }}

<div class="wrapper">
  {{ partial "sidebar-main-menu.html" . }}
  <div class="main">
    <div class="container">
      <div class="theme theme-detail" data-name="{{ .Title }}">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <!-- iframe -->
            <div class="bws-block position-relative d-none d-md-block">
              <div class="bws-loader">
                <img class="mb-1" src="{{`images/loader.gif` | absURL}}" alt="*">
                <span>Wait a moment <br> Generating Live Preview</span>
              </div>
              <script>
                setTimeout(function () {
                  document.querySelector('.bws-loader').classList.add('fadeOut');
                }, 4000);
                // document.querySelector('.bws-block').onmouseenter = function(){document.querySelector('body').classList.add('show')};
                // document.querySelector('.bws-block').onmouseleave = function(){document.querySelector('body').classList.remove('show')};
              </script>

              <div class="bws-header">
                <div class="bws-actions">
                  {{ with .Params.demo }}
                  <a target="blank" href="{{.| safeURL}}?ref=statichunt.com">
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"/>
                      <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"/>
                    </svg>
                  </a>
                  {{ end }}
                </div>
              </div>
              <div class="bws-content">
                <iframe sandbox="allow-same-origin allow-scripts allow-popups allow-forms" loading="lazy"
                  src="{{ .Params.demo }}/" title="Andromeda"></iframe>
              </div>
            </div>

            <div class="bws-device-toggle d-none d-md-block text-center">
              <button type="button" class="bws-device-toggle-desktop has-tooltip" aria-label="Toggle Desktop"
                title="Desktop Mode">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-device-desktop" width="24"
                  height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                  stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <rect x="3" y="4" width="18" height="12" rx="1"></rect>
                  <line x1="7" y1="20" x2="17" y2="20"></line>
                  <line x1="9" y1="16" x2="9" y2="20"></line>
                  <line x1="15" y1="16" x2="15" y2="20"></line>
                </svg>
              </button>
              <button type="button" class="bws-device-toggle-mobile has-tooltip" aria-label="Toggle Mobile"
                title="Mobile Mode">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-device-mobile" width="24"
                  height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                  stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <rect x="7" y="4" width="10" height="16" rx="1"></rect>
                  <line x1="11" y1="5" x2="13" y2="5"></line>
                  <line x1="12" y1="17" x2="12" y2="17.01"></line>
                </svg>
              </button>
            </div>

            <!-- image -->
            <div class="theme-detail-image d-block d-md-none mb-4">
              {{ if $repo }}
              {{ $staticPath := (printf "%s/%s%s" "static/themes" $repo.theme_key ".jpg") }}
              {{ $filePath := (printf "%s/%s%s" "themes" $repo.theme_key ".jpg") }}
              {{ if (fileExists $staticPath) }}
              <img src="{{ $filePath | relURL }}" alt="{{ .Title }} screenshot" />
              {{ end }}
              {{ end }}
            </div>

            <!-- content -->
            <div class="content">
              {{ if .Content }}
                {{ .Content }}
              {{ end }}
            </div>

          </div>
          <div class="col-lg-4 mt-5 mt-lg-0">

            <!-- theme info -->
            <div class="intro widget">
              <div class="intro-heading">
                <h1 class="intro-title">{{if .Params.page_heading}}{{.Params.page_heading}}{{else}}{{.Title}}{{end}}
                </h1>
              </div>
              <div class="intro-description">
                <p>{{ .Params.description | markdownify }}</p>
                <div class="github-metrics mb-1">
                  {{ if $repo }}{{ partial "labels/label-stars.html" (dict "stars" $repo.stars) }}{{ end }}
                  {{ if $repo }}{{ partial "labels/label-forks.html" (dict "forks" $repo.forks) }}{{ end }}
                </div>
                {{ if $repo }}{{ partial "labels/label-last-commit.html" (dict "last_commit" $repo.last_commit) }}{{ end }}

                <div class="action-buttons action-buttons-detail mb-0">
                  <a class="action-button action-button-demo" data-action="demo" data-context="detail" target="_blank"
                    rel="noopener nofollow" data-name="{{ .Title }}" href="{{ .Params.demo }}?ref=statichunt.com">Live
                    Demo</a>

                  <a class="action-button button-light action-button-github" data-action="github" data-context="detail"
                    data-name="{{ .Title }}"
                    href="{{with .Params.github }}{{. | safeURL}}{{else}}{{.Params.Product | safeURL}}{{end}}"
                    target="_blank" rel="nofollow noopener">{{if .Params.github}}Download{{else}}Website{{end}}</a>
                </div>
              </div>
            </div>

            <!-- author info -->
            <div class="widget">
              <h3 class="h4 mb-1">Author Details:</h3>
              {{ partial "author-details.html" . }}
            </div>

            <!-- categories -->
            <div class="theme-detail-tags widget">
              <h3 class="h4 mb-1">Product Categories:</h3>
              {{ if .Params.ssg }}
              {{- range .Params.ssg }}
              {{- with $.Site.GetPage "taxonomyTerm" (printf "ssg/%s" (urlize .)) }}
              {{ partial "icons/icon-link-widget.html" (dict "name" .Page.Title "icon" .Page.Params.icon "link" .Page.Permalink) }}
              {{ end }}
              {{ end }}
              {{ end }}

              {{ if .Params.cms }}
              {{- range .Params.cms }}
              {{- with $.Site.GetPage "taxonomyTerm" (printf "cms/%s" (urlize .)) }}
              {{ if eq .Page.Title "No CMS" }}
              {{ else }}
              {{ partial "icons/icon-link-widget.html" (dict "name" .Page.Title "icon" .Page.Params.icon "link" .Page.Permalink) }}
              {{ end }}
              {{ end }}
              {{ end }}
              {{ end }}

              {{ if .Params.css }}
              {{- range .Params.css }}
              {{- with $.Site.GetPage "taxonomyTerm" (printf "css/%s" (urlize .)) }}
              {{ if eq .Page.Title "No css" }}
              {{ else }}
              {{ partial "icons/icon-link-widget.html" (dict "name" .Page.Title "icon" .Page.Params.icon "link" .Page.Permalink) }}
              {{ end }}
              {{ end }}
              {{ end }}
              {{ end }}

              {{ if .Params.archetype }}
              {{- range .Params.archetype }}
              {{- with $.Site.GetPage "taxonomyTerm" (printf "archetype/%s" (urlize .)) }}
              {{ if eq .Page.Title "No archetype" }}
              {{ else }}
              {{ partial "icons/icon-link-widget.html" (dict "name" .Page.Title "icon" .Page.Params.icon "link" .Page.Permalink) }}
              {{ end }}
              {{ end }}
              {{ end }}
              {{ end }}

              {{ if .Params.services }}
              {{- range .Params.services }}
              {{- with $.Site.GetPage "taxonomyTerm" (printf "services/%s" (urlize .)) }}
              {{ if eq .Page.Title "No services" }}
              {{ else }}
              {{ partial "icons/icon-link-widget.html" (dict "name" .Page.Title "icon" .Page.Params.icon "link" .Page.Permalink) }}
              {{ end }}
              {{ end }}
              {{ end }}
              {{ end }}
            </div>

            {{ if .Params.hosting }}
            <!-- hosting -->
            <div class="widget theme-detail-tags">
              <h3 class="h4 mb-1">Host This Theme With:</h3>
              {{- range .Params.hosting }}
              {{- with $.Site.GetPage "taxonomyTerm" (printf "resources/hosting/%s" (urlize .)) }}
              {{ partial "icons/icon-link-widget.html" (dict "name" .Page.Title "icon" .Page.Params.icon "link" .Page.Permalink) }}
              {{ end }}
              {{ end }}
            </div>
            {{ end }}

            <!-- share -->
            <div class="widget">
              <h3 class="h4 mb-1">Share This Theme:</h3>
              {{ partial "social-share.html" . }}
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}