{{ define "title" }}{{ .Title }} - Theme Info{{ end }}
{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-default-single{{ end }}

{{ define "ogmeta" }}
<meta property="og:title" content="{{ .Title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:description" content="{{ .Params.description }}" />
{{ $repoName := printf "%s" (substr (replace .Params.github "/" "-") 19 | urlize) }}
{{ $repo := index .Site.Data.themes $repoName }}
{{ if $repo }}
{{ $staticPath := (printf "%s/%s%s" "static/themes/thumbnails" $repo.theme_key ".png") }}
{{ $filePath := (printf "%s/%s%s" "themes/thumbnails" $repo.theme_key ".png") }}
{{ if (fileExists $staticPath) }}
<meta property="og:image" content="{{ $filePath | absURL }}">
{{ end }}
{{ end }}
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@statichunt" />
<meta name="twitter:creator" content="@statichunt" />
{{end}}

{{ define "meta_description" }}
{{ $themes := (where .Site.RegularPages "Type" "theme") }}
{{ $themes := (where $themes ".Params.draft" "!=" true) }}
{{ $themes := (where $themes ".Params.stale" "!=" true) }}
{{ $themes := (where $themes ".Params.disabled" "!=" true) }}
{{ $themeCount := len $themes}}
<meta name="description" content="{{ .Params.description }}">
{{ end }}

{{ define "main" }}
{{ $repoName := printf "%s" (substr (replace .Params.github "/" "-") 19 | urlize) }}

{{ $repo := index .Site.Data.themes $repoName }}
{{ $statichunt := index .Site.Data.themes $repoName }}

<div class="wrapper">
  <div class="main">
    <div class="container">
      <div class="theme theme-detail" data-name="{{ .Title }}">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <!-- iframe -->
            <div class="bws-block d-none d-md-block">
              <div class="bws-header">
                <div class="bws-actions">
                  {{ with .Params.demo }}
                  <a target="blank" href="{{.| safeURL}}?ref=statichunt.com">Full Preview</a>
                  {{ end }}
                </div>
              </div>
              <div class="bws-content">
                <iframe sandbox="allow-same-origin allow-scripts allow-popups allow-forms" loading="lazy"
                  src="{{ .Params.demo }}/" title="Andromeda"></iframe>
              </div>
            </div>

            <!-- image -->
            <div class="theme-detail-image d-block d-md-none mb-4">
              {{ if $repo }}
              {{ $staticPath := (printf "%s/%s%s" "static/themes/thumbnails" $repo.theme_key ".jpg") }}
              {{ $filePath := (printf "%s/%s%s" "themes/thumbnails" $repo.theme_key ".jpg") }}
              {{ if (fileExists $staticPath) }}
              <img src="{{ $filePath | relURL }}" alt="{{ .Title }} screenshot" />
              {{ end }}
              {{ end }}
            </div>

            <!-- content -->
            <div class="content">
              {{ .Content }}
            </div>

          </div>
          <div class="col-lg-4">

            <!-- theme info -->
            <div class="intro widget">
              <div class="intro-heading">
                <h1 class="intro-title">{{ .Title }} </h1>
              </div>
              <div class="intro-description">
                <p>{{ .Params.description }}</p>
                {{ if $repo }}{{ partial "labels/label-stars.html" (dict "stars" $repo.stars) }}{{ end }}
                {{ if $repo }}{{ partial "labels/label-forks.html" (dict "forks" $repo.forks) }}{{ end }}
                {{ if $repo }}{{ partial "labels/label-last-commit.html" (dict "last_commit" $repo.last_commit) }}{{ end }}

                <div class="action-buttons action-buttons-detail mb-0">
                  <a class="action-button action-button-github" data-action="github" data-context="detail"
                    data-name="{{ .Title }}" href="{{with .Params.github }}{{. | safeURL}}{{else}}{{.Params.Product | safeURL}}{{end}}" target="_blank" rel="nofollow noopener">{{if .Params.github}}Github{{else}}Website{{end}}</a>
    
                  <a class="action-button action-button-demo" data-action="demo" data-context="detail" target="_blank"
                    data-name="{{ .Title }}" href="{{ .Params.demo }}?ref=statichunt.com">Live Demo</a>
                </div>
              </div>
            </div>

            <!-- author info -->
            <div class="widget">
              <h3 class="h4">Author Details:</h3>
              {{ partial "author-details.html" . }}
            </div>

            <!-- categories -->
            <div class="theme-detail-tags widget">
              <h3 class="h4">Product Categories:</h3>
              {{ if .Params.ssg }}
              {{- range .Params.ssg }}
              {{- with $.Site.GetPage "taxonomyTerm" (printf "ssg/%s" (urlize .)) }}
              {{ partial "icons/icon-link-widget.html" (dict "name" .Page.Title "icon" .Page.Params.icon "link" .Page.Permalink) }}
              {{ end }}
              {{ end }}
              {{ end }}

              {{ if .Params.cms }}
              {{- range .Params.cms }}
              {{- with $.Site.GetPage "taxonomyTerm" (printf "cms/%s" (urlize .)) }}
              {{ if eq .Page.Title "No CMS" }}
              {{ else }}
              {{ partial "icons/icon-link-widget.html" (dict "name" .Page.Title "icon" .Page.Params.icon "link" .Page.Permalink) }}
              {{ end }}
              {{ end }}
              {{ end }}
              {{ end }}

              {{ if .Params.css }}
              {{- range .Params.css }}
              {{- with $.Site.GetPage "taxonomyTerm" (printf "css/%s" (urlize .)) }}
              {{ if eq .Page.Title "No css" }}
              {{ else }}
              {{ partial "icons/icon-link-widget.html" (dict "name" .Page.Title "icon" .Page.Params.icon "link" .Page.Permalink) }}
              {{ end }}
              {{ end }}
              {{ end }}
              {{ end }}

              {{ if .Params.archetype }}
              {{- range .Params.archetype }}
              {{- with $.Site.GetPage "taxonomyTerm" (printf "archetype/%s" (urlize .)) }}
              {{ if eq .Page.Title "No archetype" }}
              {{ else }}
              {{ partial "icons/icon-link-widget.html" (dict "name" .Page.Title "icon" .Page.Params.icon "link" .Page.Permalink) }}
              {{ end }}
              {{ end }}
              {{ end }}
              {{ end }}

              {{ if .Params.services }}
              {{- range .Params.services }}
              {{- with $.Site.GetPage "taxonomyTerm" (printf "services/%s" (urlize .)) }}
              {{ if eq .Page.Title "No services" }}
              {{ else }}
              {{ partial "icons/icon-link-widget.html" (dict "name" .Page.Title "icon" .Page.Params.icon "link" .Page.Permalink) }}
              {{ end }}
              {{ end }}
              {{ end }}
              {{ end }}
            </div>

            {{ if .Params.hosting }}
            <!-- hosting -->
            <div class="widget theme-detail-tags">
              <h3 class="h4">Host This Theme With:</h3>
              {{- range .Params.hosting }}
              {{- with $.Site.GetPage "taxonomyTerm" (printf "hosting/%s" (urlize .)) }}
              {{ partial "icons/icon-link-widget.html" (dict "name" .Page.Title "icon" .Page.Params.icon "link" .Page.Permalink) }}
              {{ end }}
              {{ end }}
            </div>
            {{ end }}

            <!-- share -->
            <div class="widget">
              <h3 class="h4">Share This Theme:</h3>
              {{ partial "social-share.html" . }}
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}