{{ define "title" }}{{ $themes := .RegularPages }}{{ $themes := (where $themes ".Params.draft" "!=" true) }}{{ $themes := (where $themes ".Params.disabled" "!=" true) }}{{ $paginatorTitle := .Paginate $themes }}{{ .Title }}
Themes
{{ if eq $paginatorTitle.PageNumber 1 }}{{ end }}{{ if gt $paginatorTitle.PageNumber 1 }}
| Page {{ $paginatorTitle.PageNumber }}{{ end }}{{ end }}


{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-taxonomy{{ end }}

{{ define "meta_description" }}
<meta name="description" content="Browse {{ .Title }} themes, starters and templates." />
{{ end }}

{{ define "ogmeta" }}
<meta property="og:title" content="{{ .Title }} Themes" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:description" content="Browse {{ .Title }} themes, starters and templates.">
<meta property="og:image" content="{{ .Site.BaseURL }}images/statichunt-screenshot.png">
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@statichunt" />
<meta name="twitter:creator" content="@statichunt" />
{{end}}

{{ define "main" }}
{{ $themes := .RegularPages }}
{{ $themes := (where $themes ".Params.draft" "!=" true) }}
{{ $themes := (where $themes ".Params.disabled" "!=" true) }}
{{ $themeCount := len $themes}}

{{ $paginator := .Paginate $themes }}

<div class="wrapper">
  <div class="main">
    <div class="container">
      <div class="row mb-5">
        <div class="col-lg-8">
          <div class="intro intro-taxonomy">
            <div class="intro-breadcrumbs">{{ partial "breadcrumbs.html" . }}</div>
            <div class="intro-icon"><img src="{{ .Params.icon | relURL }}" alt="{{.Title}} Logo" /></div>
            <h1 class="intro-title mb-3">{{ .Title }} Themes</h1>
            <div class="intro-description mb-3">
              {{ if .Params.short_description }}
              <p>{{ .Params.short_description | markdownify }}</p>
              {{ else }}
              <p>Browse our list of {{ .Title }} themes, starters and templates.</p>
              {{ end }}
            </div>
            <ul class="list-inline meta-list">
              {{ with .Params.official_url }}
              <li class="list-inline-item mt-1" title="Official Website">
                <span class="svg-icon svg-icon-home"></span>
                <a target="_blank" rel="noopener noreferrer" href="{{ . | safeURL }}">{{ . }}</a>
              </li>
              {{ end }}
              {{ with .Params.github_path }}
              <li class="list-inline-item mt-1" title="GitHub Repository">
                <span class="svg-icon svg-icon-github"></span>
                <a target="_blank" rel="noopener noreferrer" href="https://github.com/{{ . | safeURL }}">{{ . }}</a>
              </li>
              {{ end }}
              {{ with .Params.twitter_username }}
              <li class="list-inline-item mt-1" title="Twitter Profile">
                <span class="svg-icon svg-icon-twitter"></span>
                <a target="_blank" rel="noopener noreferrer" href="https://twitter.com/{{ . | safeURL }}">@{{ . }}</a>
              </li>
              {{ end }}
              {{ if .Params.license }}
              <li class="list-inline-item mt-1" title="License">
                <span class="svg-icon svg-icon-license"></span>
                {{ if .Params.license_url }}
                <a target="_blank" rel="noopener noreferrer" href="{{ .Params.license_url | safeURL }}">{{ .Params.license }}</a>
                {{ else }}
                {{ .Params.license }}
                {{ end }}
              </li>
              {{ end }}
              {{ with .Params.language }}
              <li class="list-inline-item mt-1" title="Language">
                <span class="svg-icon svg-icon-code"></span>
                {{ . }}
              </li>
              {{ end }}
            </ul>
          </div>
        </div>
        <div class="col-lg-4 mt-4 mt-lg-0">
          {{ with .Params.promotion }}
          {{ if .enable }}
          <div class="promotion">
            <h2 class="mb-2">{{.title | markdownify}}</h2>
            <p class="d-block mb-4">{{.content | markdownify}}</p>
            <a href="{{.button_link | absURL }}" class="action-button action-button-fill action-button-full action-button-large">{{.button_label}}</a>
          </div>
          {{ end }}
          {{ end }}
        </div>
      </div>

      <div id="grids-taxonomy" class="row mt-2">
        {{ range $paginator.Pages.ByDate.Reverse }}
        {{ $repoName := printf "%s" (substr (replace .Params.github "/" "-") 19 | urlize) }}
        {{ $repo := index .Site.Data.themes $repoName }}
        {{ $statichunt := index .Site.Data.themes $repoName }}
        {{ partial "theme-card.html" (dict "theme" . "repo" $repo "statichunt" $statichunt "site" $.Site)}}
        {{ end }}
      </div>

      {{ partial "pagination.html" . }}

      {{ if .Content }}
      <div class="taxonomy-content bg-light">
        {{.Content}}
      </div>
      {{ end }}

    </div>
  </div>
</div>

{{ end }}