{{ define "body_classes" }} has-sidebar{{ end }}

{{ define "main" }}
{{ $resources := (where .Site.RegularPages "Section" "resources") }}
{{ $resources := (where $resources ".Params.draft" "!=" true) }}
{{ $resourcesCount := len $resources}}

<div class="wrapper">
  <div class="sidebar">
    {{ partial "filters-resources.html" . }}
    {{ partial "statichunt.html" . }}

    <div class="sidebar-main-menu d-block d-lg-none">
      {{ range .Site.Menus.main }}<a href="{{.URL}}">{{ .Name }}</a>{{end}}
    </div>
  </div>
  <div class="main">
    <div class="container-fluid">
      <div class="intro-wrapper">
        <div class="intro">
          <h1>{{if .Params.page_heading}}{{.Params.page_heading}}{{else}}{{.Title}}{{end}}</h1>
          <!-- <p>{{.Content}}</p> -->
        </div>
      </div>

      <div id="grids-resources" class="row mt-3">
        {{ if eq .RelPermalink "/resources/" }}
        {{ range where site.RegularPages "Section" "resources" }}
        {{ partial "resource-card.html" . }}
        {{ end }}
        {{ else }}
        {{ range .RegularPages }}
        {{ partial "resource-card.html" . }}
        {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
</div>
{{ end }}