{{ define "body_classes" }} has-sidebar{{ end }}

{{ define "meta_description" }}
<meta name="description" content="All jamstack resources">
{{ end }}

{{ define "main" }}
{{ $resources := (where .Site.RegularPages "Section" "resources") }}
{{ $resources := (where $resources ".Params.draft" "!=" true) }}
{{ $resourcesCount := len $resources}}

<div class="wrapper">
  <div class="sidebar">
    <div class="container">
      <div class="filters">
        {{ $countAll := 0 }}
        <div id="filter-group-interaction" class="filter filter-group-interaction" data-filter-group="interaction">
          <div class="filter-title">
            <h3>Interaction</h3>
          </div>
          <ul class="filter-list">
            {{ range $i, $e:= site.Taxonomies.interaction }}
            <li id="filter-{{ .Page.Title | urlize }}" class="filter-item" data-toggle=".{{ .Page.Title | urlize }}">
              <img width="18" height="18" class="filter-icon" alt="{{ .Page.Title }}"
                src="{{ .Page.Params.icon | relURL }}" />
              <span class="filter-name">{{ .Page.Title }}</span>
              <span class="filter-count" id="filter-count-{{ .Page.Title | urlize}}">{{ len $e }}</span>
            </li>
            {{ end }}
          </ul>
        </div>
      </div>
      {{ partial "statichunt.html" . }}
    </div>
  </div>
  <div class="main">
    <div class="container-fluid">
      <div class="intro-wrapper">
        <div class="intro">
          <h1>Resources</h1>
          <p>Resources are a great way to share your knowledge and experience with others</p>
        </div>
      </div>

      <div id="grids-homepage" class="row mt-3">
        {{ range (($resources.ByParam "date").Reverse).ByParam "weight" }}
        {{ partial "resource-card.html" . }}
        {{ end }}
      </div>
    </div>
  </div>
</div>
{{ end }}