{{ define "title" }}{{ .Title }} - Theme Info{{ end }}
{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-default-single has-sidebar{{ end }}

{{ define "ogmeta" }}
<meta property="og:title" content="{{ .Title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:description" content="{{ .Params.description }}" />

{{ with .Params.thumbnail }}
<meta property="og:image" content="{{ . | absURL }}">
{{ end }}

<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@heyStatichunt" />
<meta name="twitter:creator" content="@heyStatichunt" />
{{end}}

{{ define "main" }}
{{ $repoName := printf "%s" (substr (replace .Params.github "/" "-") 19 | urlize) }}

{{ $repo := index .Site.Data.themes $repoName }}
{{ $statichunt := index .Site.Data.themes $repoName }}

<div class="wrapper">
  {{ partial "sidebar-main-menu.html" . }}
  <div class="main">
    <div class="container">
      <div class="theme theme-detail" data-name="{{ .Title }}">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <!-- image -->
            {{ if .Params.thumbnail }}
            <div class="theme-detail-image">
              <img src="{{ .Params.thumbnail | relURL }}" alt="{{ .Title }} screenshot" />
            </div>
            {{ end }}
          </div>
          <div class="col-lg-4">

            <div class="intro widget">
              <div class="intro-heading">
                <h1 class="intro-title">{{if .Params.page_heading}}{{.Params.page_heading}}{{else}}{{ .Title }}{{end}}</h1>
              </div>
              {{ with .Params.description}}
              <div class="intro-description">
                <p>{{ . }}</p>
              </div>
              {{ end }}

              <!-- <div class="label">
                <span class="label-key">Interaction:</span>
                {{ range .Params.interaction }}
                <a class="label-value-link"
                  href="{{`interaction/` | relURL}}{{ . | urlize | lower }}">{{. | humanize}}</a>
                {{ end }}
              </div> -->

              {{ with .Params.licence }}
              <div class="label">
                <span class="label-key">Licence:</span>
                <span class="label-value">{{ . }}</span>
              </div>
              {{ end }}

              {{ with .Params.social }}
              <div class="label">
                <span class="label-key">Social:</span>
                {{ range . }}
                <a class="label-value-link" href="{{ .link | safeURL }}">{{.name | humanize}}</a>
                {{ end }}
              </div>
              {{ end }}

              {{ with .Params.resources }}
              <div class="label">
                <span class="label-key">Resources:</span>
                {{ range .Params.resources }}
                <a class="label-value-link" href="{{ .link | safeURL }}">{{.name | humanize}}</a>
                {{ end }}
              </div>
              {{ end }}

              {{ if .Params.author_link }}
              <div class="action-buttons action-buttons-detail mb-0">
                <a class="action-button action-button-github" data-action="github" data-context="detail" data-name="{{ .Title }}" href="{{ .Params.author_link | safeURL }}?ref=statichunt.com" target="_blank" rel="nofollow noopener">Website</a>
              </div>
              {{ end }}

            </div>


          </div>
        </div>
        {{ with .Content }}
        <div class="row mt-3 mt-md-3 mt-lg-6">
          <div class="col-12 col-lg-8">
            <div class="content">
              {{ . }}
            </div>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</div>
{{ end }}