.button {
  border-radius: 3px;
  color: $primary;
  outline: none;
  text-decoration: none;
  padding: 8px 10px;
  margin-right: 5px;
  cursor: pointer;
  background: none;
  border: 1px solid rgba($primary, .2);
  margin-bottom: 5px;
  &:hover {
    text-decoration: none;
    @extend .bg-gradient;
  }
  &-solid {
    border-color: $primary;
    background-color: $primary;
    color: $white;
    &:hover {
      color: $white;
      border-color: darken($primary, 5);
      background-color: darken($primary, 5);
    }
  }
  &-light {
    color: $primary;
    border-color: rgba($primary, .15);
    background-color: rgba($primary, .15);
    transition: 0s;
    &:hover {
      @extend .bg-gradient;
    }
  }
  &:focus {
    outline: none;
  }
  &.selected,
  &.mixitup-control-active {
    background: $primary;
    color: white;
  }
}

.icon-link {
  height: 40px;
  width: 40px;
  line-height: 33px;
  text-align: center;
  border: 1px solid $border-color;
  border-radius: 4px;
  margin-left: 10px;
  transition: .2s;
  flex-shrink: 0;
  svg {
    transition: .2s;
  }
  &:hover {
    background-color: $primary;
    border: 1px solid $primary;
    svg {
      color: $white;
    }
  }
}

.sort-buttons {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  @include tablet {
    margin-bottom: 15px;
    margin-top: 15px;
    display: block;
  }

  // filter-list
  .filter-list {
    padding-left: 0;

    li {
      display: inline-block;
    }

    button {
      outline: 0;
    }

    .filter-item {
      display: inline-block;
      list-style-type: none;
      padding: 6px 12px;
      border-radius: .25rem;
      border: 1px solid $grey;
      font-size: 14px;
      font-weight: 500;
      margin-bottom: 5px;
      cursor: pointer;
      transition: 0.2s;
      background-color: transparent;
      font-family: $font-family-semibold, Helvetica, sans-serif;
      .archtype-count {
        background-color: #dce9e9;
        color: #262626;
        font-size: 85%;
        margin-left: 2px;
        padding: 0 4px;
        padding-bottom: 2px;
        transform: translateY(-1px);
        display: inline-block;
        border-radius: 3px;
      }

      &.mixitup-control-active {
        background-color: $primary;
        color: $white;
        border-color: $primary;
        .archtype-count {
          background-color: $white;
          color: $primary;
        }
      }
    }
  }
  .sort-by {
    display: none;
    margin-right: 5px;
    color: #666;
    @include media-breakpoint-up(sm) {
      margin-bottom: 0;
    }
  }
  button {
    font-size: 14px;
    flex-grow: 1;
    @include media-breakpoint-up(sm) {
      font-size: 14px;
    }
    @include media-breakpoint-up(lg) {
      flex-grow: 0;
    }
  }
}
