.text-gradient {
  background: #059669;
  background: -webkit-linear-gradient(to right, #059669 0%, #64B3F4 100%);
  background: -moz-linear-gradient(to right, #059669 0%, #64B3F4 100%);
  background: linear-gradient(to right, #059669 0%, #64B3F4 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.bg-gradient {
  color: $white;
  background: rgb(5,150,105);
  background: linear-gradient(90deg, rgba(5,150,105,1) 0%, rgba(37,177,200,1) 100%);
}

.header .main-menu>ul>li>a {
  color: black;
  font-size: 14px;
  padding: 10px 20px;
}

.theme-card .theme-body h2 {
  font-size: 20px;
}

.theme-card .theme-body h2 a {
  color: $black;
}

.terms {
  justify-content: center;
}

.title-link{
  color: $carbon;
}

body {
  &::before {
    position: fixed;
    top: 0;
    left: 0;
    content: "";
    height: 100vh;
    width: 100vw;
    background: rgba($black, .4);
    z-index: 2222;
    opacity: 0;
    visibility: hidden;
    transition: .2s;
    pointer-events: none;
  }
  &.show::before {
    opacity: 1;
    visibility: visible;
  }
}

// preview iframe
.bws-block {
  border-radius: 4px;
  overflow: hidden !important;
  @extend .shadow;
  margin-bottom: 50px;
  z-index: 9999;

  .bws-header {
    background: #ececec;
    padding: .25rem .5rem;
    position: relative;
    border-radius: 4px 4px 0 0;

    &::before {
      background: #FFBD2D;
      border-radius: 50%;
      content: "";
      display: inline-block;
      height: 12px;
      left: 1.5rem;
      top: 1px;
      position: relative;
      width: 12px;
      box-shadow: -20px 0 0 #ff5f57, 20px 0 0 #29c940;
    }
  }

  .bws-loader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 55;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: white;
    font-size: 18px;
    transition: .3s ease-in-out;
    &.fadeOut {
      opacity: 0;
      visibility: hidden;
    }
  }

  .bws-actions {
    float: right;

    a {
      border: 1px solid #dcdcdc;
      text-decoration: none;
      color: #2a2a2a;
      font-size: 80%;
      border-radius: 3px;
      padding: 2px 5px;
      display: inline-block;
      height: 22px;
      line-height: 10px;
      background: #fff;
      transform: translateY(-4px) translateX(3px);

      &:hover {
        color: $primary;
        background-color: #fff;
      }
    }
  }

  .bws-content {
    height: 600px;
    overflow: hidden;

    @include desktop-xl {
      height: 535px;
    }

    iframe {
      border: 0;
      max-width: initial;
      width: 1285px;
      height: 1000px;
      transform: scale(0.6);
      transform-origin: 0 0;
      box-shadow: none !important;
      margin: 0 !important;

      @include desktop-xl {
        width: 992px;
        transform: scale(.615);
      }

      @include desktop-lg {
        width: 768px;
        height: 670px;
        transform: scale(.8);
      }

      @include desktop {
        width: 992px;
        height: 765px;
        transform: scale(.7);
      }

      @include tablet {
        width: 100%;
        height: 100%;
        transform: scale(1);
      }
    }
  }
  
  &.bws-mobile {
    width: 360px;
    margin-left: auto;
    margin-right: auto;
    @include desktop-xl {
      width: 340px;
    }

    iframe {
      width: 100% !important;
      height: 100% !important;
      transform: scale(1) !important;
    }
  }
}
.bws-device-toggle {
  margin-bottom: 50px;
  position: relative;
  z-index: 55;
  button {
    background: transparent;
    border: 1px solid #ddd;
    height: 45px;
    width: 60px;
    border-radius: 4px;
    margin: 0 3px;
    transition: 0.3s;
  }
}

.promotion {
  padding: 20px;
  text-align: center;
  border: 5px solid $primary;
  border-radius: .25rem;
}

.taxonomy-content {
  background-color: $grey;
  padding: 20px;
  margin-top: 50px;
  border-radius: .25rem;
}

.filter-group-archetype {
  width: calc(100% - 145px);
  @include tablet {
    width: 100%;
  }
}

// dropdown sort
.sort {
  width: 150px;
  font-size: 80%;
  position: relative;
  cursor: pointer;
  display: inline-flex;
  justify-content: end;
  flex-wrap: nowrap;
  max-height: 30px;
  @include tablet {
    justify-content: flex-start;
  }

  &-description {
    margin-bottom: 0;
    padding: 2px 5px;
    color: $steel;
  }

  &-button {
    border: 1px solid $grey;
    border-radius: .25rem;
    padding: 6px 27px 5px 10px;
    position: relative;
    margin-bottom: 0;
    flex-basis: 55%;
    max-width: 90px;
    line-height: 1.1;
    color: $steel;
    &::after {
      position: absolute;
      right: 12px;
      top: calc(50% - 6px);
      display: inline-block;
      vertical-align: .255em;
      content: "";
      height: 8px;
      width: 8px;
      border: 2px solid;
      border-color: $steel !important;
      border-left: 0;
      border-top: 0;
      border-color: inherit;
      border-radius: 2px;
      transform: rotate(45deg);
      transition: 0s;
    }
  }

  &-menu {
    display: none;
    overflow: auto;
    position: absolute;
    right: 0;
    top: calc(100% + 5px);
    width: 100%;
    background-color: $white;
    z-index: 99999;
    padding: 10px;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;

    li {
      list-style-type: none;
      border: 0;
      padding: 5px 10px;
      margin: 0;
      color: $carbon;
      font-size: 14px;
      border-radius: .25rem;

      &.mixitup-control-active {
        background-color: rgba($primary, .1);
        color: $primary;
      }
      &:hover {
        background-color: rgba($grey, .5);
        color: $primary;
      }
    }
  }

  .show-menu {
    display: block;
  }
}



// column
#grids-homepage {
  @media screen and (min-width:1240px) and (max-width:1520px) {
    .col-xl-3 {
      flex: 0 0 33.33%;
      max-width: 33.33%;
    }
  }
  @media screen and (min-width:992px) and (max-width:1140px) {
    .col-xl-3 {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
}
#grids-taxonomy {
  @media screen and (min-width:767px) and (max-width:991px) {
    .col-xl-3 {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
}
.mixitup-container-failed::after {
  content: "No Items Found!";
  font-size: 22px;
  margin: 0 20px;
}

// widget
.widget{
  padding-left: 28px;
  border-radius: 4px;
  margin-bottom: 40px;
  background-color: $white;
  // box-shadow: 0 0.2rem 0.6rem rgba($color: $black, $alpha: .07) !important;
  @include desktop {
    padding: 0;
  }
  &-icon{
    border: 1px solid $border-color;
    padding: 5px 15px;
    margin-right: 5px;
    margin-bottom: 10px;
    border-radius: 4px;
    color: $steel;
    line-height: 1;
    height: 35px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    img {
      margin-right: 7px;
      height: 16px;
      width: 16px;
    }
    &:hover{
      text-decoration: none;
      border-color: $primary;
    }
  }
}

.title{
  font-size: 2.5rem;
}

.gratitude{
  display: flex;
  align-items: center;
  text-decoration: none !important;
  padding: 10px;
  border-radius: .25rem;
  &:hover{
    background-color: $light;
  }
  *{
    margin: 0 !important;
  }
  h3, h4, h5{
    margin-right: 15px !important;
    color: $carbon;
  }
  img{
    border-radius: 50%;
    height: 30px;
    width: 30px;
    object-fit: cover;
    margin-right: 15px !important;
  }
}

/* Scrollbar / ScrollTrack */
body::-webkit-scrollbar {
  width: 8px;
}
body::-webkit-scrollbar-track {
  background: #f1f1f1;
}
body::-webkit-scrollbar-thumb {
  background: #bbb;
  &:hover {
    background: #888;
  }
}
.sidebar {
  &::-webkit-scrollbar {
    width: 2px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: transparent;
  }

  &:hover {
    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }
    &::-webkit-scrollbar-thumb {
      background: #bbb;
    }
  }
}

// CSS tooltip
.has-tooltip {
  position: relative;
  display: inline-block;
  .tooltip-label {
    visibility: hidden;
    opacity: 0;
    transition: 0.15s;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 8px 12px;
    position: absolute;
    z-index: 1;
    top: -100%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    line-height: 1;
    pointer-events: none;
    width: max-content;
    max-width: 160px;
    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: black transparent transparent transparent;
    }
  }
  &:hover .tooltip-label {
    visibility: visible;
    opacity: 1;
    transition: 0.3s;
  }
}

.font-weight-medium {
  font-weight: 500 !important;
}

// scroll-to-position
.scroll-to-position {
  position: fixed;
  bottom: -40px;
  right: 30px;
  z-index: 9999;
  transition: 0.2s;
  &.visible {
    bottom: 40px;
  }
  button {
    border: 0;
    outline: none;
    height: 40px;
    width: 40px;
    background: $primary;
    background: linear-gradient(-45deg, $primary 0%, #25b1c8 100%);
    color: $white;
    border-radius: 4px;
    display: none;
    box-shadow: 2px 8px 25px -4px #2a2e2e;
    &.show {
      display: block;
    }
  }
}