.gradient-text {
  background: #059669;
  background: -webkit-linear-gradient(to right, #059669 0%, #64B3F4 100%);
  background: -moz-linear-gradient(to right, #059669 0%, #64B3F4 100%);
  background: linear-gradient(to right, #059669 0%, #64B3F4 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header .main-menu>ul>li>a {
  color: black;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 20px;
}

.theme-card .theme-body h2 {
  font-size: 20px;
}

.theme-card .theme-body h2 a {
  color: $black;
}

.terms {
  justify-content: space-around;
}


// preview iframe
.bws-block {
  border-radius: 8px;
  overflow: hidden !important;
  @extend .shadow;
  margin-bottom: 30px;

  .bws-header {
    background: #ececec;
    padding: .25rem .5rem;
    position: relative;
    border-radius: 8px 8px 0 0;

    &::before {
      background: #FFBD2D;
      border-radius: 50%;
      content: "";
      display: inline-block;
      height: 12px;
      left: 1.5rem;
      top: 1px;
      position: relative;
      width: 12px;
      box-shadow: -20px 0 0 #ff5f57, 20px 0 0 #29c940;
    }
  }

  .bws-actions {
    float: right;
    margin-right: 5px;

    a {
      border: 1px solid #dcdcdc;
      margin-left: 10px;
      text-decoration: none;
      color: $carbon;
      font-size: 80%;
      border-radius: 5px;
      padding: 0 8px;
      display: inline-block;
      height: 22px;
      line-height: 22px;
      font-size: 80%;

      &:hover {
        color: $primary;
        background-color: #dcdcdc;
      }
    }
  }

  .bws-content {
    height: 600px;
    overflow: hidden;

    @include desktop-xl {
      height: 535px;
    }

    iframe {
      border: 0;
      max-width: initial;
      width: 1285px;
      height: 1000px;
      transform: scale(0.6);
      transform-origin: 0 0;
      box-shadow: none !important;
      margin: 0 !important;

      @include desktop-xl {
        width: 992px;
        transform: scale(.615);
      }

      @include desktop-lg {
        width: 768px;
        height: 670px;
        transform: scale(.8);
      }

      @include desktop {
        width: 992px;
        height: 765px;
        transform: scale(.7);
      }

      @include tablet {
        transform: scale(1);
        width: 100%;
        height: 100%;
      }
    }
  }
}

.promotion {
  padding: 20px;
  text-align: center;
  border: 5px solid $primary;
  border-radius: .25rem;
}

.taxonomy-content {
  background-color: $grey;
  padding: 20px;
  margin-top: 50px;
  border-radius: .25rem;
}



.sort-buttons {

  // filter-list
  .filter-list {
    padding-left: 0;

    .filter-item {
      display: inline-block;
      list-style-type: none;
      padding: 5px 10px;
      border-radius: .25rem;
      border: 1px solid $primary;
      font-size: 80%;
      margin-bottom: 5px;
      cursor: pointer;

      &.mixitup-control-active {
        background-color: $primary;
        color: $white;
      }
    }
  }

}


// dropdown sort
.sort {
  min-width: 135px;
  font-size: 80%;
  position: relative;
  cursor: pointer;
  display: flex;
  flex-wrap: nowrap;
  max-height: 30px;

  &-description {
    margin-bottom: 0;
    padding: 5px;
    color: $steel;
  }

  &-button {
    border: 1px solid $primary;
    border-radius: .25rem;
    padding: 5px 20px 5px 10px;
    position: relative;
    margin-bottom: 0;
    flex-basis: 55%;
    font-weight: bold;

    &::after {
      content: "▾";
      position: absolute;
      right: 5px;
      top: 5px;
    }
  }

  &-menu {
    display: none;
    overflow: show;
    position: absolute;
    right: 0;
    top: calc(100% + 5px);
    width: 60%;
    background-color: $light;
    z-index: 99999;
    padding: 10px;
    border-radius: .25rem;

    li {
      list-style-type: none;
      border: 0;
      padding: 5px;
      margin: 0;
      color: $carbon;

      &.mixitup-control-active {
        background-color: transparent;
        color: $primary;
      }
    }
  }

  .show-menu {
    display: block;
  }
}



// column
#grids-homepage {
  @media (min-width: 1240px) and (max-width: 1439px) {
    .col-xl-3 {
      flex: 0 0 33.33%;
      max-width: 33.33%;
    }
  }
}

// widget
.widget{
  padding: 20px;
  border-radius: .5rem;
  margin-bottom: 30px;
  background-color: $white;
  box-shadow: 0 0.5rem 1rem rgba($color: $black, $alpha: .15) !important;
  &-icon{
    display: inline-block;
    border: 1px solid $border-color;
    padding: 5px 15px;
    margin-right: 5px;
    margin-bottom: 10px;
    border-radius: 30px;
    color: $steel;
    line-height: 1;
    &:hover{
      text-decoration: none;
      border-color: $primary;
    }
  }
}