@font-face {
  font-family: 'plus_jakarta_sansbold';
  src: url('../fonts/plusjakartasans-bold-webfont.woff2') format('woff2'),
        url('../fonts/plusjakartasans-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
// @font-face {
//   font-family: 'plus_jakarta_sanslight';
//   src: url('../fonts/plusjakartasans-light-webfont.woff2') format('woff2'),
//         url('../fonts/plusjakartasans-light-webfont.woff') format('woff');
//   font-weight: normal;
//   font-style: normal;
// }
@font-face {
  font-family: 'plus_jakarta_sansmedium';
  src: url('../fonts/plusjakartasans-medium-webfont.woff2') format('woff2'),
        url('../fonts/plusjakartasans-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
// @font-face {
//   font-family: 'plus_jakarta_sansregular';
//   src: url('../fonts/plusjakartasans-regular-webfont.woff2') format('woff2'),
//         url('../fonts/plusjakartasans-regular-webfont.woff') format('woff');
//   font-weight: normal;
//   font-style: normal;
// }
@font-face {
  font-family: 'plus_jakarta_sanssemibold';
  src: url('../fonts/plusjakartasans-semibold-webfont.woff2') format('woff2'),
        url('../fonts/plusjakartasans-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}