.header {
  background-color: $white;
  border-bottom: 1px solid $grey;
  position: fixed;
  width: 100%;
  z-index: 9999;

  .container {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .submit {
    display: flex;
    align-items: center;
    font-size: 15px;
    .submit-button {
      padding: 10px 20px;
      border-radius: 3px;
      text-decoration: none;
      @extend .bg-gradient;
      &:hover {
        color: $white;
      }
    }
    .submit-button-mobile {
      display: block;
      @include media-breakpoint-up(sm) {
        display: none;
      }
    }
    .submit-button-desktop {
      display: none;
      @include media-breakpoint-up(sm) {
        display: block;
      }
    }
    svg {
      width: 20px;
      height: 20px;
      @include media-breakpoint-up(sm) {
        width: 24px;
        height: 24px;
      }
    }
    .github {
      &:hover {
        opacity: 0.7;
      }
    }
  }
  .main-menu {
    @include media-breakpoint-up(md) {
      display: block;
    }
    > ul {
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      > li {
        flex: 1 0 auto;
        list-style: none;
        margin: 0;
        padding: 0;
        > a {
          text-decoration: none;
          color: $primary;
          padding: 5px 8px;
          &:hover {
            text-decoration: underline;
          }
        }
        &.active {
          > a {
            text-decoration: none;
          }
        }
      }
    }
  }
}

.logo {
  margin: 0;
  margin-right: 20px;
  align-items: center;
  display: flex;
  img {
    max-width: 100%;
    height: auto;
  }
  a:not(.twitter-follow-button) {
    font-family: $font_family_heading;
    font-size: 20px;
    color: black;
    text-decoration: none;
    display: block;
    &:hover {
      color: $primary;
    }
  }
  .logo-mobile {
    display: none !important;
    @include mobile {
      display: block !important;
    }
    img {
      border-radius: 50%;
    }
  }
  .logo-desktop {
    @include mobile {
      display: none !important;
    }
  }
  .twitter-follow-button {
    margin-left: 20px;
    font-size: 13px;
    color: white;
    transition: 0.3s;
    background-color: #29a1f2;
    padding: 3px 12px 4px 12px;
    border-radius: 40px;
    text-align: center;
    margin-right: 10px;
    @include mobile {
      margin-left: 10px;
    }
    transform: translateY(2px);
    span {
      display: inline-block;
      transform: translateY(-2px);
    }
    i {
      font-style: normal;
    }
    &:hover {
      color: white;
      background-color: #1d8fdb;
      text-decoration: none;
    }
  }
}

.sidebar-toggler {
  border: 1px solid #f6f6f6;
  border-radius: 8px;
  display: none;
  .sidebar-toggle-icon {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform .4s;
    user-select: none;
    .top {
      stroke-dasharray: 40 121;
    }
    .bottom {
      stroke-dasharray: 40 121;
    }
    .line {
      fill: none;
      transition: stroke-dasharray .4s, stroke-dashoffset .4s;
      stroke: #333333;
      stroke-width: 5.5;
      stroke-linecap: round;
    }
    &.active {
      transform: rotate(45deg);
      .top {
        stroke-dashoffset: -68px;
      }
      .bottom {
        stroke-dashoffset: -68px;
      }
    }
  }
}

.sidebar-overlay {
  position: fixed;
  top: 61px;
  left: 0;
  height: 100%;
  width: 100%;
  background: $black;
  z-index: 11;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: 0.25s;
  &.show {
    opacity: .4;
    visibility: visible;
    pointer-events: all;
  }
}

.has-sidebar {
  .sidebar-toggler {
    display: block;
  }
}

.sidebar-main-menu {
  border-top: 1px solid #ddd;
  padding: 25px 0px;
  a {
    color: black;
    display: block;
    padding: 8px 0;
    &:hover {
      color: $primary;
      
    }
  }
}