.intro {
  transition: all 0.5s ease;
  &-banner{
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);
    height: 200px;
    &.dissmiss{
      clip-path: polygon(100% 0, 100% 0, 100% 0, 100% 0);
      height: 10px;
    }
  }
  &-wrapper{
    position: relative;
  }
  &-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    background: $white;
    border-radius: .25rem;
    border: 1px solid $grey;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 9;
    &::before{
      position: absolute;
      content: "✕";
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    &.active::before{
      content: "\2193";
    }
  }
  .intro-heading {
    margin-bottom: 10px;
  }
  .intro-icon {
    display: inline-block;
    margin-right: 2px;
    img {
      display: inline-block;
      vertical-align: bottom;
      width: 24px;
      @include media-breakpoint-up(sm) {
        width: 28px;
      }
      @include media-breakpoint-up(md) {
        width: 36px;
      }
      @include media-breakpoint-up(xl) {
        width: 46px;
      }
    }
  }
  
  .intro-title {
    display: inline-block;
    font-weight: 800;
    font-size: 40px;
    margin-bottom: 0;
    @include media-breakpoint-up(xs) {
      font-size: 22px;
    }
    @include media-breakpoint-up(sm) {
      font-size: 26px;
    }
    @include media-breakpoint-up(md) {
      font-size: 32px;
    }
  }
  .intro-description {
    @include media-breakpoint-up(md) {
      font-size: 18px;
    }
    @include media-breakpoint-up(lg) {
      font-size: 20px;
    }
    p {
      font-size: 16px;
      font-weight: 400;
    }
  }
  .intro-bar {
    display: flex;
    align-items: center;
  }
  .intro-hint {
    font-size: 14px;
    padding: 11px;
    background: aliceblue;
    border-radius: 2px;
    color: #647f96;
    display: flex;
    justify-content: space-between;
    align-items: center;
    p { margin: 0;}
    .button {
      color: #647f96;
      border-color: #647f96;
      margin: 0;
    }
  }
  .count {
    color: $carbon;
    font-weight: 400;
  }
  .page-number {
    font-weight: 400;
  }
}

.intro-taxonomy{
  padding: 20px;
  min-height: 100%;
  border-radius: .25rem;
  box-shadow: 4px 4px 20px 6px rgba(0,0,0,.1);
}