{{ $countAll:= .countAll }}
{{ $permalink:= .Link }}
<div class="filters">

  <div id="filter-group-interaction" class="filter filter-group-interaction" data-filter-group="interaction">
    <div class="filter-title">
      <h3>Interaction</h3>
    </div>
    
    <ul class="filter-list">
      <li id="filter-all" class="filter-item filter-item-link {{if eq $permalink `/resources/`}}mixitup-control-active{{end}}" data-toggle=".all">
        <a href="{{`resources/` | relURL}}">
          <img width="18" height="18" class="filter-icon" alt="All"
            src="{{`images/icons/all.svg` | absURL}}" />
          <span class="filter-name">All Resources</span>
          <span class="filter-count" id="filter-count-all">{{ len .context.Site.Taxonomies.interaction }}</span>
        </a>
      </li>
      {{ range .context.Site.Taxonomies.interaction }}
      {{ $count := 0 }}
      {{ if $countAll }}
      {{ $count = .Count }}
      {{ else }}
      {{ range .Pages.Reverse }}
      {{ if not .Params.stale }}
      {{ if not .Params.disabled }}
      {{ $count = add $count 1 }}
      {{ end }}
      {{ end }}
      {{ end }}
      {{ end }}
      {{ $active:= add "/interaction/" (add (.Page.Title | urlize | lower) "/")}}
      <li id="filter-{{ .Page.Title | urlize }}" class="filter-item filter-item-link {{if eq $permalink $active}}mixitup-control-active{{end}}" data-toggle=".{{ .Page.Title | urlize }}">
        <a href="{{`interaction/` | relURL}}{{ .Page.Title | urlize | lower }}">
          <img width="18" height="18" class="filter-icon" alt="{{ .Page.Title }}"
            src="{{ .Page.Params.icon | relURL }}" />
          <span class="filter-name">{{ .Page.Title }}</span>
          <span class="filter-count" id="filter-count-{{ .Page.Title | urlize}}">{{ $count }}</span>
        </a>
      </li>
      {{ end }}
    </ul>
  </div>

</div>