<div
  id="{{ .Params.Title | urlize }}"
  class="col-xl-10 mb-4 grid"
>
  <div class="resource resource-card d-flex" data-name="{{ .Title }}">
    <a href="{{ .Permalink }}" title="{{ .Title }}" class="resource-image">
      {{ if .Params.thumbnail }}
      <img
        loading="lazy"
        src="{{ .Params.thumbnail | relURL }}"
        alt="{{ .Params.title }} screenshot"
        class="resource-screenshot shadow-sm"
      />
      {{ end }}
    </a>

    <div class="resource-body bg-transparent w-100">
      <div class="d-flex align-items-center justify-content-between">
        <div>
          <h3>
            <a href="{{ .Permalink }}" class="resource-title">{{ .Params.title }}</a>
        
            {{ if .Params.author_link }}
            <a
              class="resource-link"
              data-action="demo"
              data-context="card"
              target="_blank"
              rel="noopener nofollow"
              data-name="{{.Params.author}}"
              href="{{.Params.author_link | safeURL}}?ref=statichunt.com"
            >
            <svg width="15" height="16" viewBox="0 0 13 14" xmlns="http://www.w3.org/2000/svg"><g stroke="currentColor" stroke-width="1.5" fill="none" fill-rule="evenodd"><path d="M9.6 4H4.2a2.4 2.4 0 00-2.4 2.4V10"></path><path d="M6.6 7l3-3-3-3m5.4 9v3H0"></path></g></svg>
            </a>
            {{ end }}
          </h3>
          <p class="font-weight-normal">{{ .Params.description | truncate 100 }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
