<div id="{{ .Params.Title | urlize }}" class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12 mb-3 grid">
  <div class="theme theme-card" data-name="{{ .Title }}">
    <a href="{{ .Permalink }}" title="{{ .Title }}" class="theme-header">
      {{ if .Params.thumbnail }}
      <img loading="lazy" src="{{ .Params.thumbnail | relURL }}" alt="{{ .Params.title }} screenshot" class="resources-screenshot" />
      {{ end }}
    </a>

    <div class="theme-body bg-transparent">
      <h2><a href="{{ .Permalink }}" class="theme-title">{{ .Params.title }}</a></h2>
      <!-- <p class="theme-description">{{with .Params.Description }}{{ . | markdownify}}{{else}}{{.Summary}}{{end}}</p> -->
      <div class="action-buttons action-buttons-card pb-1">
        {{ if .Params.author_link }}
        <a class="action-button action-button-demo mb-0" data-action="demo" data-context="card"  target="_blank" data-name="{{.Params.author}}" href="{{.Params.author_link | safeURL}}?ref=statichunt.com">Website</a>{{ end }}
        <a class="action-button button-light action-button-github mb-0" data-action="github" data-context="card"
        data-name="{{ .Title }}" href="{{ .Permalink }}" rel="noopener nofollow">Details</a>
      </div>
    </div>
    <!-- <div class="theme-footer">
      {{ range .Params.interaction }}
      <a href="{{`interaction/` | relURL}}{{ . | urlize | lower }}">{{. | humanize}}</a>
      {{ end }}
    </div> -->
  </div>
</div>