<!-- archtype -->
<div class="sort-buttons">
  <span class="sort-by">Filter By:</span>
  <div id="filter-group-archetype" class="filter filter-group-archetype" data-filter-group="archetype">
    <ul class="filter-list">
      {{ range $i, $e:= site.Taxonomies.archetype }}
      {{ if gt (len $e) 1}}
      <li id="filter-{{ .Page.Title | urlize }}" class="filter-item" data-toggle=".{{ .Page.Title | urlize }}">
        <span class="filter-name">{{ .Page.Title }}</span>
        <!-- <span class="archtype-count filter-count" id="filter-count-{{ .Page.Title | urlize}}">{{ len $e }}</span> -->
      </li>
      {{ end }}
      {{ end }}
    </ul>
  </div>

  <!-- sort -->
  <div class="sort">
    <p class="sort-description">Sort by: </p>
    <p class="sort-button">Recent</p>
    <ul class="sort-menu sort-select">
      <li class="mixitup-control-active" data-sort="default"
        onclick="document.querySelector('.sort-button').innerHTML = 'Default'">Recent</li>
      <li data-sort="stars:desc" onclick="document.querySelector('.sort-button').innerHTML = 'Stars'">
        Stars</li>
      <li data-sort="forks:desc" onclick="document.querySelector('.sort-button').innerHTML = 'Forks'">
        Forks</li>
      <li data-sort="last-commit:desc"
        onclick="document.querySelector('.sort-button').innerHTML = 'Commit'">Commit</li>
    </ul>
  </div>
</div>


<script>
  var dButton = document.querySelector('.sort-button');
  var dMenu = document.querySelector(".sort-menu");
  var dItem = document.querySelector(".sort-menu > li");

  dButton.addEventListener("click", function () {
    var docClick = function (ev) {
      if (!(ev.target).classList.contains('sort-button')) {
        closeDropdown();
      }
    }

    var closeDropdown = function () {
      dMenu.classList.remove("show-menu");
      document.removeEventListener('click', docClick);
    }

    if (dMenu.classList.contains("show-menu")) {
      closeDropdown();
    } else {
      document.addEventListener('click', docClick)
      dMenu.classList.add("show-menu");
    }

    dItem.addEventListener("click", function () {
      closeDropdown();
    });

  });
</script>