{{ define "title" }}

{{ if .Params.meta_title }}
{{ .Params.meta_title }}
{{ else }}

{{ $themes := .RegularPages }}{{ $themes := (where $themes ".Params.draft" "!=" true) }}{{ $themes := (where $themes ".Params.disabled" "!=" true) }}{{ $paginatorTitle := .Paginate $themes }}{{ .Title }} Themes
{{ if eq $paginatorTitle.PageNumber 1 }}{{ end }}{{ if gt $paginatorTitle.PageNumber 1 }}
| Page {{ $paginatorTitle.PageNumber }}{{ end }}
{{ end }}

{{ end }}

{{ define "header_classes" }}{{ end }}
{{ define "body_classes" }}page-all-themes has-sidebar{{ end }}
{{ define "body_id" }}page-all-themes{{ end }}

{{ define "meta_description" }}
<meta name="description" content="{{.Params.description | markdownify}}">
{{ end }}

{{ define "main" }}
{{ $themes := (where .Site.RegularPages "Type" "theme") }}
{{ $themes := (where $themes ".Params.draft" "!=" true) }}
{{ $themes := (where $themes ".Params.disabled" "!=" true) }}
{{ $themeCount := len $themes}}

<div class="wrapper">
  <div class="sidebar">
    <div class="container px-sm-0">
      {{ partial "filters.html" (dict "context" . "countAll" true) }}
      {{ partial "statichunt.html" . }}
    </div>
  </div>
  <div class="main">
    <div class="container-fluid px-sm-0">
      {{with .Params.intro_banner}}
      <div class="intro-wrapper">
        <!-- <button class="intro-close"></button> -->

        <div class="intro intro-banner d-flex flex-column justify-content-center">
          <div class="intro-heading">
            <h1 class="intro-title"><span class="d-block d-md-inline">{{.title_start | markdownify}}</span> <span class="txt-rotate text-gradient" data-period="2000"
                data-rotate='{{.title_loop}}'></span> {{.title_end | markdownify}}</h1>
          </div>
          <div class="intro-description d-none d-md-block">
            <p>
              <span class="count-number d-none">({{ $themeCount }})</span>
              {{.intro_description | markdownify}}
            </p>
          </div>
          <div class="intro-description d-md-none">
            <p>{{.intro_description_mobile | markdownify}}</p>
          </div>
        </div>

        <!-- custom collapse -->
        <!-- <script>
          var wrapper = document.querySelector('.intro');
          var btn = document.querySelector('.intro-close');
          btn.onclick = function () {
            wrapper.classList.toggle('dissmiss');
            this.classList.toggle('active');
          }
        </script> -->

      </div>
      {{end}}

      {{ partial "sort-buttons.html" . }}
      <div id="grids-homepage" class="row mt-3">
        {{ range (($themes.ByParam "date").Reverse).ByParam "weight" }}
        {{ $repoName := printf "%s" (substr (replace .Params.github "/" "-") 19 | urlize) }}
        {{ $repo := index .Site.Data.themes $repoName }}
        {{ $statichunt := index .Site.Data.themes $repoName }}
        {{ partial "theme-card.html" (dict "theme" . "repo" $repo "statichunt" $statichunt "site" $.Site) }}
        {{ end }}
      </div>
    </div>
  </div>
</div>
{{ end }}

{{ define "footer_js" }}

{{ $mixitup := resources.Get "js/libs/mixitup.js" }}
{{ $mixitupMultiFilter := resources.Get "js/libs/mixitup-multifilter.js" }}
{{ $filterGroups := resources.Get "js/filter/filter-groups.js" }}
{{ $filterHash := resources.Get "js/filter/filter-hash.js" }}
{{ $filter := resources.Get "js/filter/filter.js" }}
{{ $filterToggle := resources.Get "js/filter/filter-toggle.js" }}

{{ $themesBundle := slice $mixitup $mixitupMultiFilter $filterGroups $filterHash $filter $filterToggle | resources.Concat "js/themesBundle.js" }}
{{ if .Site.IsServer }}
<script type="text/javascript" src="{{ $themesBundle.RelPermalink }}"></script>
{{ else }}
<script type="text/javascript" src="{{ ($themesBundle | minify | fingerprint).RelPermalink }}"></script>
{{ end }}

{{ end }}
